@import url("https://scattagain.github.io/VencordStuff/css/GuildbarRevert.css");
@import url('https://raw.githubusercontent.com/surgedevs/visual-refresh-compact-title-bar/refs/heads/main/desktop.css');
/* SERVERS FIX */
:root {
    /* Only include this part if you wish to change these variables */
    /* You can change the size but only to be less than 48px, you must change the blob scale too */
    --guildbar-avatar-size: 48px;
    --blob-scale: 48;

    --guildbar-folder-size: var(--guildbar-avatar-size);
    --folder-blob-scale: var(--blob-scale);
}








/* Panel Redo */
.visual-refresh section.panels_c48ade {
  left: calc(var(--custom-guild-list-width) + var(--space-xs));
  width: calc(100% - var(--custom-guild-list-width) - var(--space-xs)*2);
  box-sizing: content-box;

  .actionButtons_e131a9 button {
    padding: 0;
  }


}
nav.guilds_c48ade {
  margin-bottom: 0 !important;
}
.sidebar_c48ade:after {
  display: none;
}






/* PANEL COLLAPSE */
.panels_c48ade {
  left: var(--space-sm)!important;
  margin-left: -12px;
  padding: 4px;
  height: 57px!important;
  width: 56px!important;
  border-radius: 19px!important;
  display: flex!important;
  flex-direction: column;
  overflow: hidden;
  transition-duration: 0.35s;
  z-index: 50000;
  pointer-events: all;
  border: 1px solid var(--border-subtle)!important;
 &:has(.container_e131a9) {
  border: 1px solid var(--border-normal);
 }
}

.wrapper_e131a9 {
  height: 0;
  overflow: hidden;
  
}

.panels_c48ade:hover {
  width: 350px!important;
  height: auto!important;
  display: flex!important;
  flex-direction: column;
  border-radius: 15px!important;
  filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.123)) ;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  .wrapper_e131a9 {
    height: auto!important;
  }
}
.sidebar_c48ade {
  overflow: visible!important;
}
.container__2637a {
  padding-bottom: 0px!important;
}
.scroller__99e7c {
  margin-bottom: 0px!important;
}
.bottom__7aaec {
  bottom: 0px!important;
}


.visual-refresh [class^="panels_"] [class^="container__"] [class^="buttons__"] {
  opacity: 0;
  transform: scale(0);
  transform-origin: left;
  transition: opacity 0.1s ease-in, transform 0.1s ease-in;
  will-change: opacity, transform;
}

.visual-refresh [class^="panels_"]:hover [class^="container__"] [class^="buttons__"] {

  transform: scale(1);
  
  opacity: 1;
}

.visual-refresh .panel__5dec7 {
  display: none;
}

.visual-refresh [class^="panels_"]:hover .panel__5dec7 {
  display: block;
}





/* TIMESTAMP FIX*/
span[class*="timestampInline_"] time::before {
  content: attr(aria-label);
  font-size: 12px;
}

span[class*="timestampInline_"] {
  font-size: 0px !important;
}


/*F Activities*/
[class*='membersGroup']:has([role=button]),
[class*='member'] [class*='container']:has([class*='badges']) {
  display: none;
}


/* REMOVE QUICK REACT BAR */
.button_f7ecac.hoverBarButton_f84418:nth-of-type(1),
.button_f7ecac.hoverBarButton_f84418:nth-of-type(2),
.button_f7ecac.hoverBarButton_f84418:nth-of-type(3),
.separator_f84418 {
   display: none;
}
